# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
API\uploaded_docs
API\__pycache__
node_modules
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


__pycache__
__pycache__
env

# Ignora todos los __pycache__ en cualquier subcarpeta
**/__pycache__/

# Ignora cualquier carpeta llamada env o .env en cualquier parte del proyecto
**/env/
**/.env/
.env